.flex-container,
.h-flex-container,
.v-flex-container,
.flex-cell {
	box-sizing: border-box;
}
.flex-container,
.h-flex-container,
.v-flex-container {
	width: 60%;
	margin: .4rem auto;
}

//Flex Grid Container
.flex-cell {
	margin: 0;

	text-align: center;
	min-width: 8rem;
	
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-container,
.h-flex-container,
.v-flex-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.flex-container,
.h-flex-container {
	flex-direction: row;
}
.v-flex-container {
	flex-direction: column;
}
//Flex Grid Items
.flex-none {
	flex: none;      /* flex-grow: 0; flex-shrink: 0; flex-basis: auto; */
}
.flex-auto {
	flex: auto;      /* flex-grow: 1; flex-shrink: 1; flex-basis: auto; */
}
.flex-content {
	flex: content;   /* riempie automaticamente al contenuto: flex-basis: content; */
}
.flex-cell {
	flex: 1;
}
.flex-space-between{
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
//Flex grid sizes
.cell-1of1 { flex: 0 0 100%;       }
.cell-1of2 { flex: 0 0 50%;        }
.cell-1of3 { flex: 0 0 33.333333%; }
.cell-1of4 { flex: 0 0 25%;        }
.cell-1of5 { flex: 0 0 20%;        }
.cell-1of6 { flex: 0 0 16.666667%; }

//Custom Items
.category-item{
	max-width: 200px;
}