.SectionArea{
    display: block;
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-width: 405px;
    &--grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}