 .SelectField{
    margin-top:35px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    transition: all .5s;
    position: relative;
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
     label{
        color: $primaryColor;
        transition: all .5s;
         display: flex;
         flex-basis: 100%;
         flex-direction: column;
         margin-right: 30px;
         select{
            -webkit-appearance: none;
            text-transform: capitalize;
             margin-top:1rem;
             background:none;
             border:none;
             color: $primaryColor;
             border-bottom: 2px solid $lightColorAlt;
             border-radius: 0;
             padding-bottom: 10px;
             padding-left: 15px;
             background: url('/assets/images/fields/arrow_drop_down_grey_192x192.png') no-repeat right center;
             background-size: 5%;
             &:focus{
                border-bottom: 2px solid $secondaryColor;
             }
         }
     }
 }