.AddAccount--form{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: row;
    min-width: 1px;
    justify-content: space-between;
    margin-bottom: 45px;
}

.EditAccount--form{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    justify-content: center;
    .InputField{
        width: auto;
    }
}