/**
MEDIA QUERIES:
@include sm-md-lg-xl: for min-width
@include max-sm max-md max-lg max-xl: for max-width
sm: 576px
md: 768px
lg: 992px
xl: 1200px
**/

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 959px;
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
      @content;
  }
}

// Small devices
@mixin max-sm {
  @media (max-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin max-md {
  @media (max-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin max-lg {
  @media (max-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin max-xl {
  @media (max-width: #{$screen-xl-min}) {
      @content;
  }
}

// Custom devices
@mixin max-rwd($screen) {
  @media (max-width: $screen+'px') {
      @content;
  }
}

/**
MARGINS, PADDINGS, LOOP MIXIN
.m-r-10 which gives margin-right 10 pixels.
.m-r-15 gives MARGIN to the RIGHT 15 pixels.
.m-t-15 gives MARGIN to the TOP 15 pixels and so on.
.p-b-5 gives PADDING to the BOTTOM of 5 pixels
.p-l-40 gives PADDING to the LEFT of 40 pixels

**/
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

